*
{
    font-family: "Montserrat", sans-serif;
}
:root {
    --main-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-image: url(../img/bg.jpg);
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    
}
.layer {
    background-color: rgba(0, 0, 0, 0.6);
}
.navbar-nav .nav-link {
    color: #111;
}
.navbar-nav .nav-link.active {
    position: relative;
    display: inline-block; 
}
.navbar-nav .nav-link.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #111;
    transition: width 0.3s ease;
}
.navbar-bar a {
    font-weight: 900;
}
.navbar-brand {
    font-family: var(--main-font-family);
}
.header-icon {
    width: 2rem;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
}
.header-content h2 {
    font-family: var(--main-font-family);
    font-size: 3.5rem;
    font-weight: 700;
}
.header-content h1 {
    font-size: 4rem;
}
.header-content h1 span {
    font-weight: 600;
}
.header-content h1 span::after {
    content: '';
    animation-name: typing;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes typing {
    0%{ content: ''}
    1.6%{ content: 'L'}
    3.2%{ content: 'La'}
    4.8%{ content: 'Lar'}
    6.4%{ content: 'Larr'}
    8%{ content: 'Larry'}
    9.6%{ content: 'Larry D'}
    11.2%{ content: 'Larry Da'}
    12.8%{ content: 'Larry Dan'}
    14.4%{ content: 'Larry Dani'}
    16%{ content: 'Larry Danie'}
    17.6%{ content: 'Larry Daniel'}
    19.2%{ content: 'Larry Daniels'}
    20.8%{ content: 'Larry Daniels'}
    22.4%{ content: 'Larry Daniel'}
    24%{ content: 'Larry Danie'}
    25.6%{ content: 'Larry Dani'}
    27.2%{ content: 'Larry Dan'}
    28.8%{ content: 'Larry Da'}
    30.4%{ content: 'Larry D'}
    32%{ content: 'Larry'}
    33.6%{ content: 'Larr'}
    35.2%{ content: 'Lar'}
    36.8%{ content: 'La'}
    38.4%{ content: 'L'}
    40%{ content: ''}
    41.6%{ content: 'D'}
    43.2%{ content: 'De'}
    44.8%{ content: 'Dev'}
    46.4%{ content: 'Deve'}
    48%{ content: 'Devel'}
    49.6%{ content: 'Develo'}
    51.2%{ content: 'Develop'}
    52.8%{ content: 'Develope'}
    54.4%{ content: 'Developer'}
    56%{ content: 'Developer'}
    57.6%{ content: 'Develope'}
    59.2%{ content: 'Develop'} 
    60.8%{ content: 'Develo'}
    62.4%{ content: 'Devel'}
    64%{ content: 'Deve'}
    65.6%{ content: 'Dev'}
    67.2%{ content: 'De'}
    68.8%{ content: 'D'}
    70.4%{ content: ''}
    72%{ content: 'D'}
    73.6%{ content: 'De'}
    75.2%{ content: 'Des'}
    76.8%{ content: 'Desi'}
    78.4%{ content: 'Desig'}
    80%{ content: 'Design'}
    81.6%{ content: 'Designe'}
    83.2%{ content: 'Designer'}
    84.8%{ content: 'Designer'}
    86.4%{ content: 'Designe'}
    88%{ content: 'Design'}
    89.6%{ content: 'Desig'}
    91.2%{ content: 'Desi'}
    92.8%{ content: 'Des'}
    94.4%{ content: 'De'}
    96%{ content: 'D'}
}
.about h3 {
    font-family: var(--main-font-family);
    font-weight: 700;
    color: #212529;
}
.about span {
    font-size: .9rem;
    font-weight: 600;
}
.about .span {
    font-family: var(--main-font-family);
    font-size: .9rem;
    font-weight: 800;
}
.progress-info p {
    font-size: .8rem;
    font-weight: 800;
}
.progress {
    height: 25px !important;
}
.about .progress .bar1 {
    width: 95%;
}
.about .progress .bar2 {
    width: 80%;
}
.about .progress .bar3 {
    width: 90%;
}
.hero-img {
    position: relative;
}
.hero-img::after {
    content: '';
    width: 85%;
    height: 80%;
    position: absolute;
    left: -30px;
    bottom: -30px;
    background-image: url(../img/dots.png);
    background-repeat: repeat;
    z-index: -1;
}
.about .btn1 {
    background: #1c1c1c;
    color: #eee;
    border-width: 1px;
    font-weight: 800;
    transition: background-color .25s , color .25s;
}
.about .btn1:hover {
    background-color: #fff;
    color: #1c1c1c;
}
.about .btn2 {
    background-color: #fff;
    color: #1c1c1c;
    border-width: 1px;
    font-weight: 800;
    transition: background-color .25s , color .25s;
}
.about .btn2:hover {
    background: #1c1c1c;
    color: #eee;
}
.services , .clients , .blog {
    background-color: #f7f7f7;
    position: relative;
    z-index: 2;
}
.section-title h2 {
    font-family: var(--main-font-family);
    position: relative;
    font-weight: 800 !important;
    font-size: 2.75rem;
    color: #343434;
}
.section-title h2::after {
    content: '';
    width: 100%;
    height: 30px;
    background-image: url(../img/dots.png);
    background-repeat: repeat;
    position: absolute;
    bottom: -8px;
    left: 0;
    z-index: -1;
}
.services h4 {
    font-family: var(--main-font-family);
    font-size: 1.2rem;
    font-weight: 700 !important;
    color: #212529;
}
.services p {
    font-family: var(--main-font-family);
    font-weight: 400 !important;
}
.serv-icon i {
    font-size: 1.5rem;
}
.serv-icon {
    width: 4rem;
    height: 4rem;
    background-color: #eee;
    transition: background-color .4s , color .4s;
}
.serv-icon:hover {
    background-color: #1c1c1c;
    color: #eee;
}
/* Section portfolio - works */
.nav-pills .nav-link p {
    font-family: var(--main-font-family);
    color: #222 !important;
    font-weight: 700 !important;
}
.nav-pills .nav-link.active {
    background-color: transparent;
}
.nav-pills .nav-link.active p {
    border-bottom: 3px solid black ;
    border-radius: 0;
}
.work-img {
    position: relative;
    overflow: hidden;
}
.work-img h6 {
    font-family: var(--main-font-family);
    font-size: .9rem;
    font-weight: 700 !important;
}
.work-img-hov {
    background: rgba(255, 255, 255, 0.95);
    position: absolute;
    top: 7%;
    left: 1.5%;
    z-index: 2;
    width: 97%;
    height: 97%;
    opacity: 0;
    transition: top .5s , left .5s , opacity 1s ;
}
.work-img-opc {
    opacity: 0;
    transition: opacity .2s;
}
.work-img:hover .work-img-hov {
    top: 1.5%;
    left: 1.5%;
    opacity: .9;
}
.work-img:hover .work-img-opc {
    opacity: 1;
}
.work-icons {
    transition: transform .3s;
}
.work-icons-title {
    transition: transform .3s;
}
.work-img:hover .work-icons-title {
    transform: translateY(20px);
}
.work-img:hover .work-icons {
    transform: translateY(-15px);
}
.work-icon {
    width: 1rem;
    height: 1rem;
    background-color: #111;
    color: #eee;
    border: 1px solid #111;
    font-size: .75rem;
}
.work-icon:hover {
    background-color: #eee;
    color: #111;
}
.client-feedback p {
    font-size: 1.05rem;
    font-weight: 800;
}
.client-feedback h5 {
    font-family: var(--main-font-family);
    font-size: 1.05rem;
    color: #111;
}
.client-feedback span {
    font-size: .75rem;
}
.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #D6D6D6;
}
.carousel-indicators [data-bs-target]:hover {
    background-color: #869791;
}
.carousel-indicators [data-bs-target].active {
    background-color: #869791;
}
.counter i {
    font-size: 2rem;
}
.counter h3 {
    font-family: var(--main-font-family);
    font-size: 2rem;
    font-weight: 800 !important;
}
.blog-info h6 a {
    text-decoration: none;
    font-size: .8rem;
    font-weight: 900;
}
.blog-info h4 a {
    font-family: var(--main-font-family);
    text-decoration: none;
    color: #343434;
    font-weight: 700;
}
.blog-info span a {
    text-decoration: none;
    color: #343434;
    font-weight: 700;
    border-bottom: 2px solid #343434 ;
}
.blog-info-one {
    padding-bottom: 28px !important;
}
.blog-img {
    overflow: hidden;
}
.blog-img img {
    transition: transform .5s;
}
.blog-img img:hover {
    transform: scale(1.13);
}
.contact-icon {
    width: 4rem;
    height: 4rem;
    background-color: #eee;
    color: #1c1c1c;
    font-size: 1.5rem;
    transition: background-color .4s , color .4s;
}
.contact-icon:hover {
    background-color: #1c1c1c;
    color: #eee;
}
.contact h6 {
    font-family: var(--main-font-family);
    font-weight: 800;
}
.contact p {
    font-family: var(--main-font-family);
}
.contact .btn {
    width: 42%; 
    background-color: #eee;
    text-align: start;
}
.contact .btn:hover {
    border: transparent ;
    cursor: auto;
}
.contact .txt-area {
    width: calc(84% + 2px + 1.5rem ) ;
    background-color: #eee;
    text-align: start;
}
.contact button {
    margin-left: calc(4.8rem ) ;
    background-color: #1c1c1c;
    border: 1px solid #1c1c1c !important;
    color: #eee;
    font-weight: 800;
    transition: background-color .4s , color .4s;
}
.contact button:hover {
    background-color: #fff;
    color: #1c1c1c;
}
footer {
    background: #1c1c1c;
}
footer p {
    color: #748182;
    font-size: .85rem;
    font-weight: 800;
}